<div class="container-search-wrapper">
  <div class="input-container">
    <input
      class="search-input"
      type="text"
      [(ngModel)]="searchCountry"
      (ngModelChange)="searchChange()"
      placeholder="Search"
    />

    <mat-icon>search</mat-icon>
  </div>

  <hr />
  <ul class="country-list">
    <li class="list-item" *ngFor="let country of searchedCountries">
      <a [routerLink]="['/country', country.countryCode]" class="item-link">
        {{ country.name }}, ({{ country.countryCode }})
      </a>
    </li>
  </ul>
</div>
